<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckLoginCredentials</servlet-name>
        <servlet-class>controllers.CheckLoginCredentials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersList</servlet-name>
        <servlet-class>controllers.admin.GetUsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controllers.admin.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomersList</servlet-name>
        <servlet-class>controllers.admin.GetCustomersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSalesmenList</servlet-name>
        <servlet-class>controllers.admin.GetSalesmenList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetManagersList</servlet-name>
        <servlet-class>controllers.admin.GetManagersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetManagerRequests</servlet-name>
        <servlet-class>controllers.manager.GetManagerRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controllers.admin.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSalesman</servlet-name>
        <servlet-class>controllers.admin.AddSalesman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserA</servlet-name>
        <servlet-class>controllers.admin.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>controllers.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmailToNewsletter</servlet-name>
        <servlet-class>controllers.internet.AddEmailToNewsletter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLoginCredentials</servlet-name>
        <url-pattern>/CheckLoginCredentials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersList</servlet-name>
        <url-pattern>/GetUsersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomersList</servlet-name>
        <url-pattern>/GetCustomersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSalesmenList</servlet-name>
        <url-pattern>/GetSalesmenList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetManagersList</servlet-name>
        <url-pattern>/GetManagersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetManagerRequests</servlet-name>
        <url-pattern>/GetManagerRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSalesman</servlet-name>
        <url-pattern>/AddSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserA</servlet-name>
        <url-pattern>/AddUserA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmailToNewsletter</servlet-name>
        <url-pattern>/AddEmailToNewsletter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
