/* PALLETE //
    white    rgba( 0, 0, 0, 1)
    tirquase rgba( 0, 126, 128, 1)
    grey     rgba( 204, 204, 204, 1)
// PALLETE */

/* My height hotfix to fill pages without too much content 
html, body { height: 100%;
             margin: 0;
             padding: 0; }

.myContainer   { display: table; }
.myContent     { display: table-row; 
                 height: 100%; }
.myContentBody { display: table-cell; }
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body a {
    color: rgba( 0, 126, 128, 1);
}
body h1,h2,h3,h4,h5 {
    color: rgba( 0, 126, 128, 1);
}
body span,p {
    color: rgba( 0, 126, 128, 1);
}

/* H E A D E R */
header {

}

header div.navbar-default h1 {
    color: pink;
}

header div.container {
    border-bottom: 1px solid rgba(0,126,128,0.6);
}

header a.navbar-brand {
    font-size: 20pt;
    font-weight: 600;
}

header ul.navbar-nav li a {
    font-size: 14pt;		
}

/* * * * * */
/* M A I N */
/* * * * * */

main {
    position: absolute;
    top: 52px; /* size of header */
    bottom: 25px; /* suze of footer */
    
    width: 100%;

    background-color: white;

    background-image: url('../img/couple.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main div.Jumbotron {
  
    background-color: rgba(255, 255, 255, 0.4);

    border: 3px solid rgba( 0, 126, 128, 0.6);
    border-radius: 6px;
	
    margin-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

main div#top-jumb {
    margin-top: 16px;
	padding-top: 18px;
}

main div#top-jumb h1 {
	margin: 0;
    margin-bottom: 10px;
	padding: 0;
}

main div#login-form {
	padding-top: 25px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.66);

    border: 0px solid white;
    border-radius: 8px;
}

main div#prosf2 {
    border-left:  2px solid rgba( 0, 126, 128, 0.3);
    border-right: 2px solid rgba( 0, 126, 128, 0.3);
}

/* F O O T E R */
footer {
	position: absolute;
    bottom: 0;
	width: 100%;

	background-color: white;
	text-align: center;

	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
}
footer div.container {
    border-top: 1px solid rgba(0,126,128,0.6);     
}
footer a {
    font-size: 10pt;
    font-weight: 600;
}

/* Contact */
div#contact-jumb {
    position: relative;
    top: 18px;
}
div#contact-jumb div#contact-form {
    margin-top: 12px;
}