@media(max-width:991px) {

		header a.navbar-brand {
			font-size: 18pt;
			font-weight: 600;
		}

		header ul.navbar-nav li a {
			font-size: 13pt;		
		}
	
		.container {

		}
	
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:700px) {
	div#prosfores {
		display:none;
	}
}
